.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  padding: 10px;
}

.card_image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.card_content {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  color: #ff8800;
}

.card_description {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  color: #0044cc;
}

.card_separator {
  margin-right: 45px;
  width: 2px;
  height: 80px;
  background: #423544;
  opacity: 0.7;
}

/* Media Query for Medium to Large Screens */
@media only screen and (min-width: 800px) and (max-width: 1450px) {
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .card_content {
    padding-left: 0px;
  }
  .card_separator {
    display: none;
  }
}

/* Media Query for Tablet View */
@media only screen and (min-width: 500px) and (max-width: 800px) {
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .card_separator {
    display: none;
  }
  .card_title {
    font-size: 18px;
    line-height: 20px;
  }
  .card_description {
    font-size: 16px;
    line-height: 20px;
  }
}

/* Media Query for Mobile View */
@media only screen and (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .card_separator {
    display: none;
  }
  .card_title {
    font-size: 18px;
    line-height: 20px;
  }
  .card_description {
    font-size: 14px;
    line-height: 18px;
  }
}
