.container {
  display: flex;
  gap: 50px;
  padding: 40px 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.whyChooseUs,
.availableCourses {
  flex: 1;
  padding: 15px 30px;
  background-color: #f8f8f2;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 2em;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.points {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.points li {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  border-left: 3px solid #ff6347;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 12px;
}

.points li svg {
  flex-shrink: 0;
  font-size: 1.6em;
  color: #ff6347;
}

.learning_path {
  font-size: 1.2em;
  font-weight: 600;
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.batch_label {
  font-size: 1.1em;
  font-weight: 500;
}

.option {
  font-size: 1rem;
  display: inline-block;
  padding: 8px 16px;
  margin: 0px 5px 10px 5px;
  border-radius: 20px;
  background-color: #fff;
  color: #333;
  font-weight: 500;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.option:hover {
  background-color: #dca604;
  color: #fff;
  transform: translateY(-3px);
}

.availableCourses .courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 30px;
}

/* Container for the available courses */
.availableCourses {
  padding: 60px 40px;
  background-color: #f8f8f2;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.heading {
  font-size: 2em;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Individual course card */
.course {
  padding: 20px;
  background-color: #ffffff;
  border: 1px dashed #f8c2b9;
  border-radius: 12px;
  text-align: center;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.course h3 {
  font-size: 1.6em;
  color: #333;
  margin-bottom: 15px;
}

.course p {
  font-size: 1.1em;
  color: #666;
}

.whatsappLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-size: 1em;
  color: #25d366;
  text-decoration: none;
  font-weight: 600;
}

.whatsappIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.demoButton {
  display: block;
  margin: 40px auto 0;
  padding: 12px 25px;
  font-size: 1.2em;
  color: #ffd700;
  background-color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.demoButton:hover {
  background-color: #3f3b3b;
  color: #ffc107;
  transform: scale(1.03);
}
