.container {
  gap: 50px;
  padding: 4% 5%;
  padding-bottom: 3%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.95fr 1fr 0.55fr;
}

.whyChooseUs {
  flex: 1;
  padding: 15px;
  background-color: #f8f8f2;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 2em;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.points,
.points_for {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.points li {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  border-left: 3px solid #ff6347;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 12px;
}

.points_for li {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  border-left: 3px solid #08ab2b;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 12px;
}

.points li svg {
  flex-shrink: 0;
  font-size: 1.6em;
  color: #ff6347;
}

.learning_path {
  font-size: 1.2em;
  font-weight: 600;
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.batch_label {
  font-size: 1.1em;
  font-weight: 500;
}

.option {
  font-size: 1rem;
  display: inline-block;
  padding: 8px 16px;
  margin: 0px 5px 10px 5px;
  border-radius: 20px;
  background-color: #fff;
  color: #333;
  font-weight: 500;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.option:hover {
  background-color: #dca604;
  color: #fff;
  transform: translateY(-3px);
}

.availableCourses .courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 30px;
}

/* Container for the available courses */
.availableCourses,
.course_whatsapp {
  padding: 15px 30px;
  background-color: #f8f8f2;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.heading {
  font-size: 2em;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}

.whatsappSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.whatsappLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0ba443;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
  margin-bottom: -30px;
}

.whatsappLink:hover {
  transform: scale(1.05);
}

.whatsappIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.demoButton {
  text-decoration: none;
  display: block;
  margin: 40px auto 0;
  padding: 12px 25px;
  font-size: 1.2em;
  color: #ffd700;
  background-color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.demoButton:hover {
  background-color: #3f3b3b;
  color: #ffc107;
  transform: scale(1.03);
}
