.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footerContent {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}
.logofortab {
  display: none;
}
.logoSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerLogo {
  height: 60px;
  width: auto;
  transition: transform 0.3s ease-in-out;
}

.footerLogo:hover {
  transform: scale(1.1);
}

.contactSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactSection h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #ffd700;
}

.contactSection p {
  margin: 10px 0;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contactSection a {
  color: #fff;
  font-size: 1.5em;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.contactSection a:hover {
  color: #ff8e00;
  transform: scale(1.2);
}

.addressSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0px;
  border-radius: 10px;
  background-color: #444;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.addressSection:hover {
  background-color: #555;
  transform: scale(1.02);
}

.addressSection h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ffd700;
}

.addressSection p {
  margin: 0px 0px 10px 0px;
  font-size: 1.1em;
  text-wrap: balance;
}

.footerBottom {
  font-size: 1em;
  margin-top: 20px;
  color: #fff;
  border-top: 1px solid #555;
  padding-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    padding: 25px 20px;
  }
  .footerContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .logofortab {
    display: block;
    margin-bottom: 1.5rem;
  }
  .logoSection {
    display: none;
  }

  .footerRow {
    flex-direction: row;
    gap: 20px;
  }
  .contactSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .contactSection p {
    flex-direction: row;
    gap: 10px;
  }

  .contactSection a {
    font-size: 1.8em;
  }

  .footerLogo {
    height: 70px;
  }

  .addressSection h3 {
    font-size: 1.3em;
  }

  .addressSection p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 500px) {
  .footerLogo {
    height: 55px;
  }
}
