.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navLogo {
  height: 50px;
  cursor: pointer;
}

.toggleButton {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1.8rem;
  margin: 0;
  padding: 0;
}

.navList li {
  display: inline-block;
}

.navList button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 1rem;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navList button::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: linear-gradient(90deg, #ff6a00, #ff8e00);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.navList button:hover::after {
  width: 100%;
}

.navList button:hover {
  color: #ff8e00;
  transform: translateY(-2px);
}

.navList button:focus {
  outline: none;
  color: #ff8e00;
}

.navList button:active {
  transform: translateY(1px);
}

/* Tablet Styles */
@media (max-width: 816px) {
  .toggleButton {
    display: flex;
  }
  .toggleButton {
    height: 30px;
  }
  .navLogo {
    margin-left: -7px;
    height: 45px;
    cursor: pointer;
  }

  .home_special {
    margin-top: 0.7rem;
  }
  .navList {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #333;
    gap: 0;
    padding: 0rem 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    z-index: 1000;
  }

  .navList li {
    text-align: center;
    padding: 0rem 0rem 1rem 0rem;
  }

  .navList.active {
    max-height: 500px;
  }

  .navList button {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 350px) {
  .navbar {
    padding: 1.1rem 1.5rem;
  }
  .navLogo {
    margin-left: -7px;
    height: 35px;
    cursor: pointer;
  }
  .toggleButton {
    height: 25px;
  }
}
